* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow: overlay;
}

.container {
  height: 100%;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180.01deg, #099ef3 0.85%, #00489b 99.99%);
  border-radius: 10px;
  height: 10px;
}

/* Navbar  */
.navbar {
  position: fixed;
  display: flex;
  padding: 20px 50px;
  gap: 2rem;
  justify-content: right;
  align-items: center;
  width: 100%;
  background: #06090f;
  top: 0;
  z-index: 100;
}

.hide {
  display: none;
}

.hamburger-icon div {
  width: 30px;
  height: 3px;
  background: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.mobile-menu {
  background: #06090f;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  animation: identifier 0.5s ease;
}

@keyframes identifier {
  0% { 
    opacity: 0;
    transform: translateY(-100%)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

.mobile-menu .selected {
  background: none;
  color: white;
}


.title {
  color: white;
  margin-right: auto;
  font-family: Kanit;
  font-size: 50px;
  font-weight: 700;
  text-align: left;
}

.brace {
  background: linear-gradient(180deg, #1979e8 0%, #03a3ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text2 {
  font-family: Kanit;
  font-weight: 400;
  font-size: 20px;
  color: #a3a3a3;
}

.header {
  display: flex;
  align-items: center;
  padding: 2px 15px;
  cursor: pointer;
}

.header:hover {
  color: white;
}

.selected {
  background: linear-gradient(180deg, #1979e8 0%, #03a3ff 100%);
  border-radius: 6px;
  font-weight: 600;
  color: white;
}

.black {
  color: #06090f;
}

/* Footer */

.footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #06090f;
  width: 100%;
  margin-top: auto;
  color: rgba(163, 163, 163, 0.67);
  padding: 20px 50px;
}

/* Main Content */
.main-content {
  padding-top: 113px;
}

/* Home */
.home {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  padding: 250px 200px;
  background: #06090f;
}

.home .title {
  font-size: 40px;
  line-height: 50px;
}

.name {
  font-family: Kanit;
  font-size: 53px;
  font-weight: 700;
  background-clip: text;
  text-fill-color: transparent;

  text-shadow: 0px 0px 10.5706px #1979e8;
}

/* Project */
.projects {
  margin-top: -100px;
  padding: 150px 50px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project {
  padding: 20px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project .title {
  font-size: 25px;
}

.obj-content {
  padding-left: 80px;
}

/* links */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

/* images */
.img {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5rem;
  margin: 20px;
  overflow: auto;
  padding: 0 30px;
  scroll-behavior: smooth;
  transition: transform 1s;
  width: 80%;
}

.child {
  border-radius: 10px;
  cursor: pointer;
}

/* footer follow me */
.followMe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.icon {
  cursor: pointer;
}

/* bring to top button */
.top-button {
  z-index: 99;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: right;
  width: 100px;
  margin-top: -80px;
  padding-right: 30px;
}

.button {
  background: linear-gradient(180deg, #1979e8 0%, #03a3ff 100%);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition: transform 1s;
}

/* About */

.about {
  background: linear-gradient(
    to right,
    #a3a3a3 0%,
    #a3a3a3 20%,
    white 20%,
    white 100%
  );
  margin: 0;
  padding: 0;
  padding-left: 100px;
}

.about_content {
  margin-left: 350px;
  padding: 200px 100px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: scroll;
}

.about .name {
  font-size: 40px;
}

.normal-text {
  font-family: Sora;
  font-size: 20px;
}

.profile-pic {
  border-radius: 50%;
  padding: 3rem;
  aspect-ratio: 1;
  transition: transform 1s;
}

.profile-pic:hover {
  transform: scale(1.1);
}

.profile-card {
  margin-top: 100px;
  position: fixed;
  width: 350px;
  background: #06090f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.808);
}

.white {
  color: white;
}

.profile-name {
  text-align: center;
  color: white;
  padding-bottom: 30px;
}

.profile-name::after {
  display: block;
  clear: both;
  content: "";
  position: relative;
  left: 0;
  bottom: 0;
  max-width: 250px;
  height: 1px;
  width: 50%; /* or 100px */
  border-bottom: 1px solid white;
  margin: 0 auto;
  padding: 5% 0px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

.about_content .button {
  width: 100px;
  height: 80px;
  margin: 10vh auto;
}

.button:hover {
  transform: scale(1.06);
}

.experience-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  gap: 2rem;
  padding: 150px 0;
}

.box {
  width: 80%;
  background: #06090f;
  padding: 50px 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.808);
  transition: transform 1s;
  display: flex;
  flex-direction: column;
}

.box:hover {
  transform: scale(1.02);
}

.box .title {
  font-size: 25px;
}

.about-buttons {
  margin-top: 50px;
  display: flex;
  gap: 2rem;
}

.hire-me {
  background: linear-gradient(90deg, #0268dd 0%, #003c5f 100%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 65px;
  width: 200px;
  aspect-ratio: 3;
  padding: 0 20px;
  transition: transform 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hire-me:hover {
  transform: scale(1.03);
}

.hire-me .title {
  font-size: 30px;
}

/* contact */

.contact {
  display: flex;
  height: calc(100vh - 192px);
}
.contact .hire-me {
  padding: 0 40px;
}

.form-section {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 150px;
  padding-bottom: 40px;
}

.otherContact-section {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 100px;
}

.contact-form {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 20px;
  background: #e1e1e1;
  border: 4px solid #b7b7b7;
  border-radius: 16px;
}

.contact-label .title {
  font-size: 23px;
}

.input {
  border: none;
  font-family: Kanit;
  font-size: 24px;
  font-weight: 700;
  height: 65px;
  background: #c5c5c5;
  border-radius: 16px;
  text-indent: 10px;
  max-width: 100%;
  min-width: 100%;
  min-height: 50px;
  max-height: 170px;
}

.text-darkBlue {
  color: #00489be8;
}

.input:focus {
  outline: 5px solid #00489be8;
}

.message {
  height: 230px;
}

.new-form .hire-me {
  padding: 0 10px;
}

.new-form .title {
  margin: 0;
}

.new-form {
  align-items: center;
}

.center {
  margin: 0;
  align-items: center;
  justify-content: center;
}

.otherContact-section .box {
  flex-direction: row;
  gap: 3.3rem;
  height: 120px;
  width: 400px;
  align-items: center;
  justify-content: center;
}

.sticky {
  position: sticky;
}

/* size friendly */
@media only screen and (max-width: 700px) {
  .container {
    min-width: 0;
  }

  .main-content {
    padding-top: 70px;
  }

  .navbar {
    padding: 15px;
  }

  .title {
    font-size: 30px;
  }

  .home {
    padding: 0;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 100vh;
  }

  .home .title {
    font-size: 20px;
    line-height: 1;
  }
  .home .brace {
    font-size: 20px;
    line-height: 1;
  }

  .projects {
    min-width: none;
    padding: 100px 0;
    margin-top: -10px;
  }

  .project {
    min-width: none;
    overflow: scroll;
    padding: 0;
  }

  .project .title {
    font-size: 15px;
  }

  .img {
    width: 90%;
    padding: 0;
    margin: 0;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    padding: 10px;
    gap: 1rem;
    font-size: 15px;
  }

  .footer .icon {
    width: 15px;
  }

  .followMe {
    width: 100%;
    gap: 5px;
  }

  .profile-card {
    width: 200px;
    height: 350px;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    aspect-ratio: inherit;
    position: static;
    padding: 0;
  }

  .profile-pic {
    padding: 20px;
    margin: 0;
  }

  .about {
    display: flex;
    flex-direction: column;
    background: none;
    margin: 0;
    padding: 10px;
    gap: 1rem;
  }

  .icon {
    width: 15px;
  }

  .about_content {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .about_content .title {
    font-size: 30px;
  }

  .card-bottom {
    padding: 0;
    justify-content: center;
    gap: 1.8rem;
  }

  .about .name {
    font-size: 25px;
  }

  .normal-text {
    font-family: Sora;
    font-size: 15px;
  }

  .button {
    transform: scale(0.7);
  }

  .button:hover {
    transform: scale(0.8);
  }

  .box {
    width: 80%;
    background: #06090f;
    padding: 50px 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.808);
    transition: transform 1s;
    display: flex;
    flex-direction: column;
  }

  .box .title {
    font-size: 15px;
  }

  .top-button {
    padding: 0px;
    padding-right: 9px;
    padding-bottom: 9px;
    align-items: right;
    margin-top: -70px;
  }

  .about-buttons {
    gap: 1;
    justify-content: left;
  }

  .hire-me {
    height: 40px;
    width: 120px;
  }

  .hire-me .title {
    font-size: 15px;
  }

  .buttonIcon {
    width: 25px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 200vh;
  }
  .contact-form {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background: #e1e1e1;
    border: 2px solid #b7b7b7;
    border-radius: 6px;
  }

  .form-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 90vh;
  }

  .contact-label .title {
    font-size: 15px;
  }

  .input {
    border: none;
    font-family: Kanit;
    font-size: 15px;
    height: 10px;
    background: #c5c5c5;
    border-radius: 6px;
    width: 100%;
  }

  .message {
    height: 20px;
  }

  .contact-form .hire-me {
    padding: 0 20px;
  }

  .new-form .hire-me {
    padding: 0 10px;
  }

  .new-form .title {
    margin: 0;
  }
  .new-form {
    align-items: center;
  }

  .otherContact-section {
    width: 100%;
    overflow: auto;
    gap: 1rem;
    padding: 50px 0;
    height: 90vh;
    align-items: left;
  }

  .otherContact-section .box {
    padding: 0;
    height: 90px;
    width: 300px;
    justify-content: left;
    padding-left: 10px;
  }
}
